#firebaseui-auth-container {
  display: none;
}

#logout {
  display: none;
  width: 18rem;
}

.login-button-image {
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 3em;
}
